@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #4b2c92;
  --violet: #4b2c92;
  --title: #1a1a1a;
  --subtitle: #333;
  --light: #f9f9fb;
  --black: #3A3335;
  --white: #fff;
  --blue: #575790;
  --grey: #575761;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light);
}
.flex {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  background: #4b2c92;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  border: solid var(--primary) 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  color: var(--primary);
  background-color: white;
}